* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Black";
    src: url("assets/Lato-Black.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("assets/Lato-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

header {
    padding: 0 480px;
    height: 89px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
}

header::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #323746;
}

header > h1 {
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #fff;
}

header > h1 > span {
    color: #f06c64;
}

header > ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > ul a {
    margin-top: 4px;
    display: flex;
    height: 100%;
    align-items: center;
    font-family: "Lato-Bold";
    font-size: 12px;
    color: #fff;
}

header > ul a:hover {
    color: #f06c64;
}

header > ul li {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

header > ul li:not(:last-child) {
    margin-right: 29px;
}

.slider {
    position: relative;
    padding: 0 480px;
    background-color: #f06c64;
}

.slider__preview {
    position: relative;
    height: 605px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.arrow {
    position: absolute;
    top: 48%;
}

.arrow:hover {
    filter: grayscale(0.5);
    cursor: pointer;
}

.right-arrow {
    right: 5px;
    transform: rotate(180deg);
}

.services {
    position: relative;
    margin-top: 60px;
    padding: 0 480px;
    color: #666d89;
    background-color: #f2f2f2;
    padding-bottom: 68px;
}

.services::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff;
}

.services__header {
    font-family: "Lato-Black";
    font-size: 30px;
}

.services__descr {
    width: 960px;
    margin-left: 2px;
    margin-top: 22px;
    line-height: 1.5em;
    word-spacing: 1px;
    font-family: "Lato-Light";
    font-size: 18px;
}

.container {
    width: 220px;
}

.content {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}

.content__block {
    display: flex;
}

.content__block:nth-child(1n + 4) {
    margin-top: 33px;
}

.content__block_image {
    margin-top: 7px;
    padding-left: 2px;
    margin-right: 23px;
}

.container__header {
    font-family: "Lato-Black";
    font-size: 18px;
}

.container__descr {
    margin-top: 10px;
    line-height: 1.3rem;
    font-family: "Lato-Regular";
    font-size: 12px;
}

.portfolio {
    position: relative;
    padding: 0 481px;
    padding-top: 60px;
    color: #666d89;
    background-color: #2d303a;
    padding-bottom: 74px;
}

.portfolio::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.portfolio__header {
    font-family: "Lato-Black";
    font-size: 30px;
}

.portfolio__descr {
    margin-top: 20px;
    font-family: "Lato-Light";
    font-size: 18px;
}

.portfolio__buttons {
    width: 288px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 3px;
}

.portfolio__buttons_button {
    border: 1px solid #666d89;
    outline: none;
    border-radius: 5px;
    padding: 3px;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: "Lato-Light";
    color: #666d89;
    background-color: #2d303a;
}

.portfolio__buttons_button:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.portfolio__works {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    margin-top: 18px;
}

.about {
    position: relative;
    padding: 0 481px;
    padding-top: 60px;
    padding-bottom: 70px;
    color: #666d89;
    background-color: #f2f2f2;
}

.about::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff;
}

.about__header {
    font-family: "Lato-Black";
    font-size: 30px;
}

.about__descr {
    margin-top: 20px;
    line-height: 1.8rem;
    word-spacing: 1px;
    font-family: "Lato-Light";
    font-size: 18px;
}

.team {
    margin-top: 45px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 20px;
}

.team__member {
    width: 300px;
}

.bio__name {
    margin-top: 12px;
    font-family: "Lato-Black";
    font-size: 18px;
}

.bio__descr {
    margin-top: 10px;
    line-height: 1.3rem;
    font-family: "Lato-Light";
    font-size: 12px;
}

.team__member_links {
    margin-top: 23px;
    margin-left: 1px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.team__member_links img:hover {
    filter: contrast(5);
}

.contact {
    position: relative;
    padding: 0 481px;
    padding-top: 58px;
    padding-bottom: 73px;
    color: #f0d8d9;
    background-color: #f06c64;
}

.contact::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.contact__header {
    font-family: "Lato-Black";
    font-size: 30px;
}

.contact__descr {
    margin-top: 20px;
    line-height: 1.8rem;
    font-family: "Lato-Light";
    font-size: 18px;
}

.info {
    display: grid;
    grid-template-columns: 605px 300px;
    grid-gap: 35px;
    margin-top: 47px;
}

.info__form {
    display: grid;
    height: 364px;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    grid-gap: 15px;
}

input[type="text"],
textarea {
    resize: none;
    font-family: "Lato-Regular";
    width: 100%;
    font-size: 12px;
    padding-left: 15px;
    color: #e87878;
    background-color: #d6564f;
    outline: none;
    border: none;
    border-radius: 5px;
}

textarea {
    padding-top: 10px;
}

.location__header {
    font-family: "Lato-Black";
    font-size: 18px;
}

.location__descr {
    margin-top: 10px;
    line-height: 1.25rem;
}

.location__descr,
.location__contacts {
    font-family: "Lato-Regular";
    font-size: 12px;
}

.location__contacts {
    margin-top: 30px;
}

.location__contacts_mail,
.location__contacts_city,
.location__contacts_number {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.location__contacts_city::before,
.location__contacts_number::before,
.location__contacts_mail::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    text-align: center;
}

.location__contacts_city::before {
    background: no-repeat url("assets/location.png");
}

.location__contacts_number::before {
    background: no-repeat url("assets/number.png");
}

.location__contacts_mail::before {
    background: no-repeat url("assets/mail.png");
}

input[type="text"]::placeholder,
textarea::placeholder {
    display: flex;
    align-items: flex-start;
    color: #e87878;
}

footer {
    height: 76px;
    display: flex;
    align-items: center;
    padding: 0 480px;
    justify-content: space-between;
    background-color: #2d303a;
}

.footer__copyright {
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #666d89;
}

.footer__links {
    width: 154px;
    display: flex;
    justify-content: space-between;
}

.footer__links img:hover {
    filter: brightness(0.1);
}
